*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  background-color: #254e77;
  font-family: Arial, sans-serif;
  color: #fff;
}

.header {
  padding: 20px 0;
}

.header__title {
  margin: 0;
}

.header__title svg {
  display: block;
  margin-bottom: 20px;
}

@media screen and (min-width: 620px) {
  .header__title {
    display: flex;
    align-items: center;
    margin: 0;
  }

  .header__title svg {
    margin: 0;
  }
}

.charts__item {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #3b7196;
  border-radius: 10px;
  background-color: #5294b5;
  box-shadow: 1px 1px 4px 0 #3b7196;
  text-align: center;
}

.charts__title {
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

.charts__container.is-wide {
  height: 340px;
  overflow-y: hidden;
  overflow-x: auto;
  text-align: center;
}

.charts__svg {
  display: inline-block;
}

@media screen and (min-width: 480px) and (max-width: 619px) {
  .charts__container.is-responsive {
    display: inline-block;
    width: 380px;
    height: 380px;
  }
}

@media screen and (min-width: 620px) {
  .charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .charts__item {
    width: calc(50% - 10px);
  }

  .charts__item:last-child {
    flex: 1 auto;
  }
}

@media screen and (min-width: 768px) {
  .charts__container.is-responsive {
    display: inline-block;
    width: 300px;
    height: 300px;
  }

  .charts__container.is-wide {
    height: 320px;
  }
}

@media screen and (min-width: 1024px) {
  .charts__container.is-responsive {
    width: 350px;
    height: 350px;
  }

  .charts__container.is-wide {
    height: 400px;
  }
}

/* Styles for charts */

#chart-teams .bar {
  fill: #254e77;
  transition: all 0.3s ease-in-out;
}

#chart-teams .bar:hover {
  fill: #bf360c;
}

.charts__svg text,
.charts__svg .axis text {
  font-size: 12px;
  fill: #fff;
}

.charts__svg .axis path,
.charts__svg .axis line {
  fill: none;
  stroke: #fff;
}

.charts__svg .arc {
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

.charts__svg .arc:hover {
  opacity: 1;
}

/* d3-tip styles */
.d3-tip {
  padding: 10px;
  border-radius: 10px;
  background-color: #039be5;
  box-shadow: 1px 1px 4px 0 #333;
  transition: opacity 0.3s ease-in-out;
}

.d3-tip.with-triangle::after {
  content: '\25BC';
  position: absolute;
  top: 34px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  line-height: 1;
  color: #039be5;
  text-shadow: 0 2px 2px #333;
}

.d3-tip ul {
  margin-bottom: 0;
}
